# Default .gitignore for Xcode 15.1.0
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Ignore resolved package versions
# We want FiveKit to always use the latest version of each package
Package.resolved
